<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Client is: </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Your Client is: </h1>
        
        <div class="prediction-container">
            <div class="prediction animated fadeIn">
                
                <p class="prediction-value">{{ prediction }}</p>
            </div>
        </div>

        <p><a href="/">Go back to the main page</a></p>
    </div>
    <script src="app.js"></script>
</body>
</html>
